@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&family=Raleway:wght@200&display=swap');


.jumbotron {
  background-color: white !important;
}

.navbar {
  padding: .8rem;
  background-color: #5c3ac5 !important;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-item a {
  color: white ! important;
}

.nav-link {
  font-size: 1.0em ! important;
}

footer {
  background-color: #212529;
  color: #dedede;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #dedede;
  width: 75%;
  margin-bottom: 1rem;
  margin-top: .8rem;
}

#map-container-google-1 iframe {
  width: 100%;
  overflow: hidden;
  max-height: 500px;
}



.nav-item a {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


.display-5 {
  font-family: 'Raleway', sans-serif;

}


.lead {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
h3 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.display-4 {
  font-family: 'Raleway', sans-serif;
}