@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&family=Raleway:wght@200&display=swap');


.jumbotron {
	background-color: white;
}
hr {
	background-color: #5c3ac5;
}

footer {
  background-color: #212529;
  color: #dedede;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #dedede;
  width: 75%;
  margin-bottom: 1rem;
  margin-top: .8rem;
}

.navbar {
	padding: .8rem;
	background-color: #5c3ac5 !important;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-item a {
  color: white ! important;
}

.nav-link {
  font-size: 1.0em ! important;
}


/*--- Footer --*/
.small_hr {
  width: 50px;
  max-width: 50px;
  color: white;
  background-color: white ! important;
}

.footer_title {
  padding-top: 30px;
  font-size: 18px;
  color: white;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
}


/*---End of footer--*/