@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,700&family=Raleway:wght@200&display=swap');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


#row_list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.specialty{
  font-family: 'Raleway', sans-serif;
  font-style: initial;
  color: crimson;
}

.av {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-style: initial;
  color: lightslategrey;
}

#team_jumbo{
  background-color: white ! important; 
  padding-top: 30px;
}
.jumbotron {
  border-radius: 0 ! important;
  background-size: fill;
}
.card {
  border-color: white;
  
}
.card_size_img {
  max-width: 200px !important;
  max-height: 200px !important;
}

#social{
  margin-bottom: 10px;
}

.header_text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: inherit;
}
.sub_header_text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: lighter;
}

.hr_small_blk {
  width: 300px;
  max-width: 300px;
  color: lightgray !important;
  background-color: lightgray ! important;
}

.col-xs-12 img {
  height: 50px ! important;
  width: 50px ! important;
}

#follow_tag h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

footer {
  background-color: #212529;
  color: #dedede;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #dedede;
  width: 75%;
  margin-bottom: 1rem;
  margin-top: .8rem;
}

.navbar {
	padding: .8rem;
	background-color: #5c3ac5 !important;
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-item a {
  color: white ! important;
}

.nav-link {
  font-size: 1.0em ! important;
}


.nav-item a {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.display-4 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: initial;
}

.display-5 {
  font-family: 'Raleway', sans-serif;

}
.lead {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
h3 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.display-4 {
  font-family: 'Raleway', sans-serif;
}


/*--- Footer --*/
.small_hr {
  width: 50px;
  max-width: 50px;
  color: white;
  background-color: white ! important;
}

.footer_title {
  padding-top: 20px;
  font-size: 18px;
  color: white;
  font-weight: lighter;
  font-family: 'Nunito', sans-serif;
}


/*---End of footer--*/

